<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Lyft ~ Luly </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Css Files -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
    </head>
    <body>
        <main> 
            <div id="div-login" class="s10 offset-s1 l4 pull-l4 center-align">
                <div class="row">
                    <div class="col s2 center-align valign-wrapper">
                        <a href="welcome.html"><i class="material-icons medium arrow_back">arrow_back</i></a>
                    </div>
                    <div class="col s10 center-align">
                        <h5> Sign Up </h5>
                        <span> Join now for free ride credit </span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col s4 center-align valign-wrapper">
                            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'> Locat. </a>
                            <ul id='dropdown1' class='dropdown-content center-align'>
                                <li> <a class='dropdown-button btn transparent' data-beloworigin="true" href='#' data-activates='dropdown1'> 
                                        <img src="http://www.countryflags.io/mx/flat/64.png">
                                    </a>
                                </li>
                                <li> 
                                    <a class='dropdown-button btn transparent' data-beloworigin="true" href='#' data-activates='dropdown1'> 
                                        <img src="http://www.countryflags.io/co/flat/64.png">
                                    </a>
                                </li>
                                <li> 
                                    <a class='dropdown-button btn transparent' data-beloworigin="true" href='#' data-activates='dropdown1'> 
                                        <img src="http://www.countryflags.io/pe/flat/64.png">
                                    </a>
                                </li>
                                <li> 
                                    <a class='dropdown-button btn transparent' data-beloworigin="true" href='#' data-activates='dropdown1'> 
                                        <img src="http://www.countryflags.io/us/flat/64.png">
                                    </a>
                                </li>
                            </ul>
                    </div>
                    <form class="col s8">
                        <div class="row">
                        <div class="input-field col s12">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1"> Phone Number </label>
                        </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                        <p class="col s12 black-text"> We'll send a text to verify your phone </p>
                </div>
                <div class="row">
                    <a id="btn-next" class="col s12 waves-effect waves-light btn pink darken-1 black-text white-text"> NEXT </a>
                </div>
            </div>
        </main>

        <!-- Js Files -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
        <script src="../js/assets/materialize.min.js"></script>
        <script src="../js/app.js"></script>
    </body>
</html>